@media screen and (max-width: 400px) {
  .image-con {
    width: 100%;
    text-align: center;
  }

  .flex-con {
    flex-direction: column;
  }

  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .cards-wrapper .card {
    width: 100%; 
  }

  .dots-wrapper {
    display: none;
  }

  .card {
    width: 100%;
  }
}

.display-area-container {
  display: flex;
}

.image-con {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  height: auto;
  align-items: center;
  padding: 10px;
}

.menu-image {
  display: flex;
  justify-content: right;
}

.card {
  height: 200px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 40px;
  margin: 10px;
  flex: 200px 0 0;
  width: calc(50% - 10px);
  margin-bottom: 20px;
}

.cards img {
  width: 100%;
  object-fit: cover;
}

.cards-wrapper {
  display: flex;
  justify-content: space-between;
}

.display-area {
  width: 880px;
  overflow-x: hidden;
  margin: auto;
}

.dots-wrapper {
  display: flex;
  justify-content: center;
  margin: auto;
}

.dot {
  border: none;
  background: rgba(0, 0, 0, 0.2);
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 50%;
  outline: none;
}

.dot:hover {
  background: rgba(0, 0, 0, 0.3);
}

.dot.active {
  background: rgba(0, 0, 0, 0.5);
}

.header-con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 80px;
  margin: auto;
}

.flex-con {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  font-size: 24px;
  margin: 5px;
  flex-wrap: nowrap;
}

.flex-con a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.trending-con {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.trending-con img {
  max-width: 100%;
  height: auto;
}

.center-con {
  display: flex;
  justify-content: center;
}

.center-cons {
  display: flex;
  justify-content: center;
  margin: 75px;
}

.sub-button {
  display: flex;
  justify-content: center;
}

.options {
  margin: 50px;
  display: flex;
  flex-direction: column;
}

.seasonal-product {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 400px;
  height: 70px;
  margin: auto;
}

.likes {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 400px;
  height: 70px;
  margin: auto;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: -5px;
}

.product-image {
  width: 45%;
  margin: 10px;
  text-align: center;
}

.product-image img {
  width: 100%;
  height: auto;
  display: block;
}

.profile-container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.user-info {
  text-align: center;
  margin-bottom: 20px;
}

.user-info h2 {
  margin: 5px 0;
}

.card img {
  width: 100%;
  height: auto;
}

.tier {
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}

.wrapper {
  width: 500px;
  padding: 2rem 1rem;
  margin: 50px auto;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.Featured-product {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 400px;
  height: 70px;
  margin: auto;
}

.display-area {
  overflow: hidden;
  position: relative;
}
