@media screen and (max-width: 400px) {
  .image-con {
    width: 100%;
    text-align: center;
  }

  .flex-con {
    flex-direction: column;
  }

  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .cards-wrapper .card {
    width: 100%; 
  }

  .dots-wrapper {
    display: none;
  }

  .card {
    width: 100%;
  }
  .products-container{
    display: flex;
  }
  .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        text-align: center;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-item {
        margin: 0;
        padding: 10px;
    }

    .hamburger {
        display: flex;
    }
}

.display-area-container {
  display: flex;
}

.image-con {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  height: auto;
  align-items: center;
  padding: 10px;
}

.menu-image {
  display: flex;
  justify-content: right;
}

.card {
  height: 200px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 40px;
  margin: 10px;
  flex: 200px 0 0;
  width: calc(50% - 10px);
  margin-bottom: 20px;
}

.cards img {
  width: 100%;
  object-fit: cover;
}

.cards-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display-area {
  width: 880px;
  overflow-x: hidden;
  margin: auto;
}

.dots-wrapper {
  display: flex;
  justify-content: center;
  margin: auto;
}

.dot {
  border: none;
  background: rgba(0, 0, 0, 0.2);
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 50%;
  outline: none;
}

.dot:hover {
  background: rgba(0, 0, 0, 0.3);
}

.dot.active {
  background: rgba(0, 0, 0, 0.5);
}

.header-con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 80px;
  margin: auto;
}

.flex-con {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  font-size: 24px;
  margin: 5px;
  flex-wrap: nowrap;
}

.flex-con a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.trending-con {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.trending-con img {
  max-width: 100%;
  height: auto;
}

.center-con {
  display: flex;
  justify-content: center;
  margin: 75px;
  align-items: center;
}

.center-cons {
  display: flex;
  justify-content: center;
  margin: 75px;
}

.sub-button {
  display: flex;
  justify-content: center;
}

.options {
  margin: 50px;
  display: flex;
  flex-direction: column;
}

.seasonal-product {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 400px;
  height: 70px;
  margin: auto;
}
/* product  */
#products-container {
  display: flex;
  flex-wrap: wrap;
}
.product-container {
  /* width: calc(33.33% - 20px); Adjust the width as needed, and the 20px is for margin */
  margin: 10px; /* Add margin between products */
  box-sizing: border-box;
  flex: 1;
}
/* end of product */
.likes {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 400px;
  height: 70px;
  margin: auto;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: -5px;
}

.product-image {
  width: 45%;
  margin: 10px;
  text-align: center;
}

.product-image img {
  width: 100%;
  height: auto;
  display: block;
}

.profile-container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.user-info {
  text-align: center;
  margin-bottom: 20px;
}

.user-info h2 {
  margin: 5px 0;
}

.card img {
  width: 100%;
  height: auto;
}

.tier {
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}
.wrapper {
  width: 80%; /*Adjust the width as needed */
  max-width: 500px;
  padding: 2rem 1rem;
  margin: 50px auto;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
}

.Featured-product {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 400px;
  height: 70px;
  margin: auto;
}

.display-area {
  overflow: hidden;
  position: relative;
}
body {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white; /* Optional: Set background color */
}
.wrapper,
.center-con {
  width: 100%;
  text-align: center;

}
.image-con {
  flex-direction: column;
}
.menu-image {
  justify-content: center;
}
.dots-wrapper {
  display: none;
}
.card {
  width: 100%;
}
/* Header */
header{
  background-color: white;
}
li{
  list-style: none;
}
a{
  color: black;
  text-decoration: none;
}
.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.nav-link{
  transition: 0.7s ease;
}
.nav:hover{
  color:dodgerblue;
}
.hamburger{
  display:none;
  cursor: pointer;
}
.bar{
  display:block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;

}
@media(max-width:768px){
  .hamburger{
      display: block;
  }
  .hamburger.active .bar:nth-child(2){
      opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu{
      position: fixed;
      left: -100%;
      top:70px;
      gap:0;
      flex-direction:column;
      background-color: white;
      width: 100%;
      text-align: center;
      transition: 0.3s;
  }
  .nav-item{
      margin: 16px 0;
  }
  .nav-menu.active{
      left:0;
  }
  .index-container {
    width: 90%;
    height: auto;
    padding: 20px;
    margin: 0; /* Set margin to 0 for mobile view */
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

}
.navbar li {
  display: inline-block;
  padding: 0px 20px;
}

.navbar li a{
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px;
  cursor: pointer;
}
*before{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
.navbar li a:hover:after{
  width: 100%;
}

.navbar li a:after{
  content: "";
  position: absolute;
  background-color: black;
  height: 3px;
  width:0;
  left:0;
  bottom: -10px;
  transition: 0.3s;
}
.logo{
  cursor: pointer;
  width: 50px; 
  height: 50px; 
  padding: 0;
  margin-left: 40px;
}
.center-con {
  display: flex;
  justify-content: center;
  margin: 75px;
  align-items: center;
}
/* End of header */
#lottieContainer {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed; /* Adjust position property */
  top: 0;
  left: 0;
  z-index: 1000; /* Set a higher z-index */
}
.index-container{
  width: 90%;
  padding: 20px;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.index-box{
  width: 250px;
  margin: 0 10px;
  box-shadow: 0 0 20px 2 rgba(0, 0, 0, 0.1);
  transition: 1s;
  border: 3px solid black; /* Add a black border */
  box-sizing: border-box;
}
.index-box img{
  display: block;
  width: 100%;
  border-radius: 5px;
}
.index-box:hover{
  transform: scale(1.3);
  z-index: 2;
}
.productdescriptioncontainer{
  margin: 0px 100px;
}

/* Add these styles to main.css */
#product-image-container-1 {
  float: left;
  margin-right: 20px; /* Adjust the margin as needed */
  margin-left: 100px;
}

#product-details-container {
  float: right;
  width: 60%;
  margin-right: 100px; /* Adjust the width as needed */
}

/* Clear the float to prevent layout issues */
.productdescriptioncontainer::after {
  content: "";
  display: table;
  clear: both;
}
body {
  margin: 20px 100px 0 100px; /* Add a margin of 20px on each side of the body */
  background-color: white;
}
.container-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Pcard {
  flex: 0 0 calc(20% - 10px); /* Adjusted width with margin */
  margin-right: 20px; /* Margin on the right side */
  margin-bottom: 20px; /* Margin at the bottom */
  border: 2px solid black;
  padding: 10px;
  height: auto;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 450px; /* Add box-sizing to include padding and border in the width calculation */
}

.Pcard img {
  width: 100%;
  height: 250px;
  width: 250px;
  object-fit: contain;
  display: block;
  margin: auto;
}
.Pcard-body {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Center content horizontally */
  font-size: 17px;
}
.Pcard footer{
  margin-top: auto;
  text-align: center;
}
.btn-1 {
margin-left: 0;
background-color: white; /* Set the initial background color */
color: black; /* Set the text color */
padding: 10px; /* Adjust padding for better appearance */
border: 2px solid black; /* Add a border for better visibility */
cursor: pointer; /* Change cursor on hover for better feedback */
transition: background-color 0.3s ease; /* Add a smooth transition effect for background color change */
}

/* Add a hover effect */
.btn-1:hover {
background-color: blue; /* Change background color on hover */
color: white; /* Change text color on hover */
}
/* Custom styles for the anchor tags */
.Pcard-body a {
  color: black; /* Use the same color as the surrounding text */
  text-decoration: none; /* Remove the default underline */

}
.seasonal-product {
margin-bottom: 20px; /* Add margin below the seasonal product heading */
}

@media screen and (max-width: 768px) {
  .Pcard {
      flex: 0 0 100%; /* Take full width on smaller screens */
  }
  .Pcard-body{
      font-size: 12px;
  }
}
body {
  margin: 20px 100px 0 100px; /* Add a margin of 20px on each side of the body */
  background-color: white;
}

.cart-item {
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 300px;
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .cart-item {
      width: 100%; /* Take full width on smaller screens */
  }
}

#total {
  margin-top: 20px;
  font-weight: bold;
}

.remove-btn {
  cursor: pointer;
  color: red;
  text-decoration: underline;
  margin-top: 10px;
}

#checkout-btn {
  margin-left: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #0d6efd; /* Set the initial background color */
  color: white; /* Set the text color */
  padding: 10px; /* Adjust padding for better appearance */
  border: 2px solid black; /* Add a border for better visibility */
  cursor: pointer; /* Change cursor on hover for better feedback */
  transition: background-color 0.3s ease; /* Add a smooth transition effect for background color change */
  }
  
  /* Add a hover effect */
  #checkout-btn:hover {
  background-color: white; /* Change background color on hover */
  color: #0d6efd; /* Change text color on hover */
  }

  #products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the rows horizontally */
    align-items: center; /* Center the rows vertically */
    margin: 0 auto; /* Center the container itself */
  }
.category-buttons{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
}
.category-buttons button {
  margin: 0 10px;
  padding: 10px;
  color: black;
  background-color: white;
  border-radius: 16px;
  /* transition: background-color 0.3s ease; */
}
.category-buttons button:hover{
  background-color: black;
  color: white;
}
.category-buttons button.active-category {
  background-color: black;
  color: white;
}
/* Add this to your existing CSS or create a new style block */
/* start of profile page */
.weekly-progress {
  display: flex;
  align-items: center;
  justify-content: center;
}

.day-circle {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #ccc; /* Default color */
  display: flex;
  align-items: center;
  justify-content: center;
}

.logged-in {
  background-color: green; /* Change color or add tick styling */
}
.first-login{
  background-color: orange;
}
.logged-in::before {
  content: '\2713'; /* Unicode character for checkmark/tick */
  font-size: 24px; /* Adjust the font size as needed */
  color: white; /* Color of the checkmark/tick */
}
#Logoutbutton {
  margin-left: 0;
  width: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #0d6efd; /* Set the initial background color */
  color: white; /* Set the text color */
  padding: 10px; /* Adjust padding for better appearance */
  /* border: 2px solid black; Add a border for better visibility */
  cursor: pointer; /* Change cursor on hover for better feedback */
  transition: background-color 0.3s ease; /* Add a smooth transition effect for background color change */
  }
  
  /* Add a hover effect */
  #Logoutbutton:hover {
  background-color: white; /* Change background color on hover */
  color: #0d6efd; /* Change text color on hover */
  }
.Log-Out-button{
  align-items: center;
  justify-content: center;
  display: flex;
}
/* end of profile page */
.Lnavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ensure the navigation bar takes the full height */
}
.Lnavbar img{
  margin: 0;
  padding:0;
}
.Lwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}
body, header {
  margin: 0;
  padding: 0;
}
.Cwrapper {
  width: 80%; 
  max-width: 500px;
  padding: 2rem 1rem;
  margin: 50px auto;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  height: 100%;
} 
 .Checkout {
  flex: 0 0 300px;
  padding: 20px;
}
        .main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.content-container {
    display: flex;
    flex-direction: row;
}

.cart-container {
    flex: 1;
    padding: 20px;
}
.newsletter {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  background-color: #f8f9fa;
  /* border-radius: 10px; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: lightslategray;
}

/* Style for the newsletter heading */
.newsletter h2 {
  margin-bottom: 10px;
  color: white;
}

/* Style for the newsletter paragraph */
.newsletter p {
  margin-bottom: 20px;
  color: white;
}

/* Style for the newsletter form */
.newsletter form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 250px;
}

.newsletter button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.newsletter button:hover {
  background-color: #0056b3;
}
.background-image {
  position: relative;
  width: 100%;
  height: auto; /* Ensures image aspect ratio is maintained */
  overflow: hidden; /* Hides any overflow content */
}

.background-image img {
  display: block;
  width: 100%;
  height: auto;
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
  .background-image img {
      width: 100%; /* Adjust width for smaller screens */
      height: auto; /* Ensures image aspect ratio is maintained */
  }
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 9999;
}
#loginButton{
  margin-left: 0;
  width: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #0d6efd; /* Set the initial background color */
  color: white; /* Set the text color */
  padding: 10px; /* Adjust padding for better appearance */
  /* border: 2px solid black; Add a border for better visibility */
  cursor: pointer; /* Change cursor on hover for better feedback */
  transition: background-color 0.3s ease; /* Add a smooth transition effect for background color change */
  }
#loginButton:hover{
  background-color: white; /* Change background color on hover */
  color: #0d6efd; /* Change text color on hover */
  }
.loginbutton{
  align-items: center;
  justify-content: center;
  display: flex;
}